.aspectRatio {
  padding-top: 140%;
  position: relative;
  perspective: 200px;
}

.aspectRatioInner {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}

.root {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  transition: 200ms transform;
  transform-style: preserve-3d;
}

.root:focus {
  outline: none;
}

.root::before {
  content: "";
  bottom: 100%;
  left: 50%;
  margin-bottom: 4px;
  margin-left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  position: absolute;
}
.root:focus::before {
  background-color: var(--primary-color);
}

.root:focus .content {
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
}

.root:focus .content.face {
  transform: scale(0.95) rotateY(180deg);
}
.root:focus .content.back {
  transform: scale(0.95);
}

.rootFaceUp {
  transform: rotateY(0);
}

.rootFaceDown {
  transform: rotateY(180deg);
}

.content {
  user-select: none;
  background-color: var(--color-snow_white);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: var(--border-radius-big);
  box-shadow: var(--box-shadow-small);

  transition: 200ms transform;
  display: flex;
  align-items: stretch;
  backface-visibility: hidden;
  justify-content: center;
  padding: calc(clamp(5px, 5%, 10px));
}

.rootSelected .content {
  box-shadow: none;
  border: 2px solid var(--primary-text-color);
  padding: 3px;
}

.innerContent {
  flex-grow: 1;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  transition: 200ms all;
  border-radius: calc(var(--border-radius-big) * 0.75);
  padding: var(--spacing-small);
  display: grid;
  place-items: center;
  font-size: var(--spacing-xl);
}

.face .innerContent {
  background-color: var(--color-highlight);
}

.face:active {
  transform: rotateY(190deg);
}

.face {
  transform: rotateY(180deg);
}

.back .innerContent {
  background-color: var(--color-very_light_gray);
}

.rootPale .innerContent {
  opacity: 0.6;
  filter: grayscale(0.2);
}

.card {
  height: 100%;
}

.rootVoted .card {
  animation: grow 100ms ease-in-out;
  animation-direction: alternate;
  animation-iteration-count: 2;
}

@keyframes grow {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(1.05);
  }
}

.rootSelected .face .innerContent {
  background-color: var(--primary-color);
  color: var(--color-snow_white);
}

.back:active {
  transform: rotateY(10deg);
}
