.root {
  padding: var(--spacing-large);
}

.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cardBoard {
  position: relative;
  margin-top: var(--spacing-large);
}

.userCard {
  position: absolute;
  /* margin-right: var(--spacing-large); */
  transition: all 200ms;
  filter: grayscale(1);
}

.userCard::after {
  position: absolute;
  content: "";
  border-radius: var(--border-radius-big);
  background-color: var(--color-ui_grey);
  opacity: 0.5;
  transition: opacity 100ms;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.userCardJoined {
  filter: none;
}

.userCardJoined::after {
  opacity: 0;
}

.userCardAvatarWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -24px;
  z-index: 2;
}

.userCardAvatar {
  border: 2px solid var(--color-snow_white);
}
