.root {
  padding: var(--spacing-large);
}

.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.cardBoard {
  position: relative;
  margin-top: var(--spacing-large);
}

.userCard {
  position: absolute;
  /* margin-right: var(--spacing-large); */
  transition: all 200ms;
  filter: grayscale(1);
  opacity: 0.5;
}

.userCardJoined {
  opacity: 1;
  left: 0;
  filter: none;
}

.userCardAvatarWrapper {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -24px;
}

.userCardAvatar {
  border: 2px solid var(--color-snow_white);
}
