.toolbar {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

.split {
  display: grid;
  grid-auto-flow: column;
  align-items: baseline;
  grid-gap: var(--spacing-small);
  margin-bottom: var(--spacing-small);
}
