.aspectRatio {
  padding-top: 140%;
  min-width: 80px;
  position: relative;
  perspective: 200px;
}

.aspectRatioInner {
  position: absolute;
  top: 0;
  height: 100%;
  left: 0;
  width: 100%;
}

.root {
  cursor: pointer;
  padding: 0;
  border: none;
  background: transparent;
  transition: 200ms transform;
  transform-style: preserve-3d;
}

.root:focus {
  outline: none;
}
.root:focus .content {
  box-shadow: 0 2px 6px -1px rgba(0, 0, 0, 0.2);
}
.root:focus .content.face {
  transform: scale(0.95);
}
.root:focus .content.back {
  transform: scale(0.95) rotateY(180deg);
}

.rootFaceUp {
  transform: rotateY(180deg);
}

.rootFaceDown {
}

.content {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 8px;
  box-shadow: 0 4px 8px -1px rgba(0, 0, 0, 0.2);
  border: 8px solid #fff;
  transition: 200ms transform;
  display: flex;
  align-items: stretch;
  backface-visibility: hidden;
  justify-content: center;
}

.innerContent {
  flex-grow: 1;
  border-radius: 4px;
  display: grid;
  place-items: center;
  font-size: 2em;
}

.face .innerContent {
  background: #ccc;
}

.face:hover {
  transform: rotateY(10deg);
}

.face:active {
  transform: rotateY(30deg);
}

.back {
  transform: rotateY(180deg);
}

.back .innerContent {
  background: #999;
}

.back:hover {
  transform: rotateY(190deg);
}
