.popupWrapper {
  display: grid;
  place-items: center;
  padding: 10vw;
}

.buttons {
  margin-top: 24px;
  display: grid;
  place-items: center;
  grid-gap: 8px;
}

.buttonRightIcon {
  /* Investigate why rightIcon="fa-check" doesn't work */
  margin-left: 8px;
  margin-right: -4px;
}
