.popupWrapper {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  padding: 10vw;
  height: 100vh;
  perspective: 500px;
}

.loaderWrapper {
  position: relative;
  width: 80px;
  height: 80px;
}

.buttons {
  margin-top: 24px;
  display: grid;
  place-items: center;
  grid-gap: 8px;
}

.buttonRightIcon {
  /* Investigate why rightIcon="fa-check" doesn't work */
  margin-left: 8px;
  margin-right: -4px;
}
