.popupWrapper {
  box-sizing: border-box;
  display: grid;
  place-items: center;
  height: 100vh;
  perspective: 500px;
}

.buttons {
  margin-top: 24px;
  display: grid;
  place-items: center;
  grid-gap: 8px;
}

.buttonRightIcon {
  /* Investigate why rightIcon="fa-check" doesn't work */
  margin-left: 8px;
  margin-right: -4px;
}

.illustration {
  margin-bottom: var(--spacing-large);
  width: 434px;
  height: 194px;
}

.title {
  text-align: center;
}
